body {
    background-image: url(images/cozy-peepo.webp);
    margin: 0%;
    padding: 0%;
}

h1, h3, p{
    color: #00FF00;
}

header {
    margin-top: 6%;
    text-align: center;

}

.title {
    text-decoration: underline;
}

footer {
    background-color: #404040;
    margin-top: 28%;
    padding-bottom: 1%;
}


.links {
    color: #00FF00;
    display: inline;
    padding-left: 10%;
    text-align: center;
}

.links:hover {
    color: #FFFFFF;
}

.text-footer {
    margin-left: 42%;
    margin-top: 6%;
}


main {
    text-align: center;
    margin-top: 7%;
}

.main-text2 {
    margin-top: 5%;
}

@media (max-width: 1366px) {
    body {
        background-color: green;
    }

    footer {
        background-color: #404040;
        margin-top: 37%;
        padding-bottom: 1%;
    }
}