body {
    background-image: url(images/cozy-peepo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
    margin: 0%;
    padding: 0%;
}

h1, h3, p{
    color: #00FF00;
}

header {
    margin-top: 4%;
    text-align: center;

}

.title {
    text-decoration: underline;
}

footer {
    background-color: #404040;
    margin-top: 13%;
    padding-bottom: 1%;
    color: #00FF00;
}


.links {
    display: inline;
    padding-left: 10%;
    text-align: center;
}

.links:hover {
    color: #FFFFFF;
}

.text-footer {
    margin-left: 42%;
    margin-top: 6%;
}


main {
    text-align: center;
    margin-top: 4%;
}

.main-text2 {
    margin-top: 5%;
}

.scroll {
    margin-top: 7%;
}

div {
    margin: 0%;
    padding: 0%;
    background-color: #000000;
}

h2 {
    text-align: center;
}

.language {
    display: inline;
    background-color: black;
    color: #00FF00;
    font-size: 20px;
    margin-right: 85%;
}

.en {
    padding-right: 0.5%;
}

@media (max-width: 1366px) {
    body {
        background-color: green;
    }

    header {
        margin-top: 5%;
    }

    main {
        margin-top: 4%;
    }

    .scroll {
        margin-top: 5%;
    }
}